<!-- Tabela de Categorias -->
<div class="transaction-table mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 50%;">Nome</th>
                <th style="width: 25%;" class="text-end">Tipo</th>
                <th style="width: 25%;" class="text-end">Atualizado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr id="categoria-{{ categoria.id }}">
                <td>{{ categoria.nome }}</td>
                <td class="text-end">{{ categoria.tipo.nome }}</td>
                <td class="text-end">{{ categoria.data }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="{% url 'sistemaFFA:editar_categoria' categoria.id %}" class="text-decoration-none">
                                    <button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button>
                                </a>
                            </li>
                            <li>
                                <button data-url="{% url 'sistemaFFA:ajax_excluir_categoria' categoria.id %}" class="dropdown-item text-danger excluirCategoria" data-bs-toggle="modal" data-bs-target="#categoriaModal">
                                    <i class="bi bi-trash3"></i> Excluir
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginação -->
{% if categorias.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if categorias.has_previous %}
            <li class="page-item">
                <a href="?pagina=1" class="page-link">&laquo; Início</a>
            </li>
            <li class="page-item">
                <a href="?pagina={{ categorias.previous_page_number }}" class="page-link">Anterior</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">
                Página {{ categorias.number }} de {{ categorias.paginator.num_pages }}
            </a>
        </li>

        {% if categorias.has_next %}
            <li class="page-item">
                <a class="page-link" href="?pagina={{ categorias.next_page_number }}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pagina={{ categorias.paginator.num_pages }}">Última &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}