<form id="transacaoDeleteForm" method="POST">
    {% csrf_token %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger transacaoButton" data-url="{% url 'sistemaFFA:ajax_excluir_transacao' transacao.id %}" id="submitButton">Excluir</button>
</form>

<script>
    $("#transacaoDeleteForm").submit(function (event) {
        event.preventDefault();
        const button = $("#transacaoDeleteForm .transacaoButton")
        const dataUrl = button.data("url");

        $.ajax({
            url: dataUrl,
            method: "POST",
            data: $(this).serialize(),
            success: function (response) {
                console.log("Resposta AJAX:", response);
                if (response.status === "success") {
                    $("#transacao-" + response.transacao_id).remove();
                    $("#transacaoModal").modal("hide");
                }
            }
        });
    });
</script>