<form id="contatoDeleteForm" method="POST">
    {% csrf_token %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger contatoButton" data-url="{% url 'sistemaFFA:ajax_excluir_contato' contato.id %}">Excluir</button>
</form>

<script>
    $("#contatoDeleteForm").submit(function (event) {
        event.preventDefault();
        const button = $("#contatoDeleteForm .contatoButton")
        const dataUrl = button.data("url");

        $.ajax({
            url: dataUrl,
            method: "POST",
            data: $(this).serialize(),
            success: function (response) {
                console.log("Resposta AJAX:", response);
                if (response.status === "success") {
                    $("#contato-" + response.contato_id).remove();
                    $("#contatoModal").modal("hide");
                }
            }
        });
    });
</script>