{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Categorias</div>{% endblock head %}
{% block content %}

<div class="d-flex flex-wrap justify-content-center gap-2 mt-2">
    <button type="button" id="meu-botao" class="btn btn-custom active" data-category="todos" data-url="/filtrar/">Todos</button>
    <button type="button" id="meu-botao" class="btn btn-custom" data-category="fixas" data-url="/filtrar/">Fixas</button>
    <button type="button" id="meu-botao" class="btn btn-custom" data-category="variaveis" data-url="/filtrar/">Variávies</button>
    <button type="button" id="meu-botao"class="btn btn-custom" data-category="impostos" data-url="/filtrar/">Impostos</button>
    <button type="button" id="meu-botao" class="btn btn-custom" data-category="rendimentos" data-url="/filtrar/">Rendimentos</button>
</div>


<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCategorias" aria-controls="offcanvasCategorias">
        <i class="bi bi-plus-lg"></i> Nova Categoria
    </button>
</div>

<!-- Local onde o partial será carregado -->
<div id="categorias-partial">
    {% include 'sistemaFFA/partials/_categorias.html' %}
</div>


<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategorias" aria-labelledby="offcanvasCategoriasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="coategoriaForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

{% endblock content %}