{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Categorias</div>{% endblock head %}
{% block content %}

<div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-categoria">
    {% for tipo in tipos %}
        <button id="{{ tipo.id }}" class="btn btn-custom" data-nome="{{ tipo.nome }}">
            {{ tipo.nome }}
        </button>
    {% endfor %}
</div>

<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCategorias" aria-controls="offcanvasCategorias">
        <i class="bi bi-plus-lg"></i> Nova Categoria
    </button>
</div>

<div id="categorias-partial">
    {% include 'sistemaFFA/partials/_categorias.html' %}
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategorias" aria-labelledby="offcanvasCategoriasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="coategoriaForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

<div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Transaçao</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Ao excluir esta categoria, todos os itens associados a ela serão removidos. Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadCategorias(tipo_nome, pagina) {
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_categorias" %}',
                data: {
                    'tipo_nome': tipo_nome,
                    'pagina': pagina
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        $("#categorias-partial").html(data.html);
                        $("#btn-categoria .btn-custom").removeClass('active');
                        $("#btn-categoria .btn-custom[data-nome='" + data.tipo_nome + "']").addClass('active');
                    } else {
                        $("#categorias-partial").html("<p>Erro ao aplicar o filtro.</p>");
                    }
                },
                error: function (xhr, status, error) {
                    $("#categorias-partial").html("<p>Ocorreu um erro ao processar a requisição.</p>");
                }
            });
        }

        $("#btn-categoria .btn-custom").on('click', function () {
            var tipo_nome = $(this).data("nome");
            loadCategorias(tipo_nome, 1);
        });

        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault();
            var tipo_nome = $("#btn-categoria .btn-custom.active").data("nome") || "Todas";
            var pagina = $(this).attr('href').split('pagina=')[1];
            loadCategorias(tipo_nome, pagina);
        });
    </script>
{% endblock script %}

{% endblock content %}