{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Categorias</div>{% endblock head %}
{% block content %}

<div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-categoria">
    {% for tipo in tipos %}
        <button id="{{ tipo.id }}" class="btn btn-custom" data-nome="{{ tipo.nome }}">
            {{ tipo.nome }}
        </button>
    {% endfor %}
</div>

<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCategorias" aria-controls="offcanvasCategorias">
        <i class="bi bi-plus-lg"></i> Nova Categoria
    </button>
</div>

<!-- Local onde o partial será carregado -->
<div id="categorias-partial">
    {% include 'sistemaFFA/partials/_categorias.html' %}
</div>

<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategorias" aria-labelledby="offcanvasCategoriasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="coategoriaForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $("#btn-categoria .btn-custom").on('click', function () {
            var tipo_nome = $(this).data("nome"); // Pega o nome do tipo do botão clicado
        
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_categorias" %}',
                data: {
                    'tipo_nome': tipo_nome,
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        // Atualiza o conteúdo da div #categorias-partial com o HTML retornado
                        $("#categorias-partial").html(data.html);
                    } else {
                        // Exibe uma mensagem de erro
                        $("#categorias-partial").html("<p>Erro ao aplicar o filtro.</p>");
                    }
                },
                error: function (xhr, status, error) {
                    // Trata erros de requisição
                    $("#categorias-partial").html("<p>Ocorreu um erro ao processar a requisição.</p>");
                }
            });
        });
    </script>
{% endblock script %}

{% endblock content %}