{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Contatos</div>{% endblock head %}
{% block content %}

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-fill-add"></i> Deve para mim</h5>
                <p class="card-text text-success fs-4">R$ {{ deve_para_mim }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-dash-fill"></i> Eu devo</h5>
                <p class="card-text text-danger fs-4">R$ {{ eu_devo }}</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-contato">
    {% for tipo in tipos %}
        <button class="btn btn-custom" data-nome="{{ tipo.nome }}" id="{{ tipo.id }}">
            {{ tipo.nome }}
        </button>
    {% endfor %}
</div>

<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContato">
        <i class="bi bi-plus-lg"></i> Novo Contato
    </button>
</div>

<div id="contatos-partial">
    {% include 'sistemaFFA/partials/_contatos.html' %}
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContato" aria-labelledby="offcanvasContatoLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasContatoLabel">Novo Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="contatoForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

<div class="modal fade" id="contatoModal" tabindex="-1" aria-labelledby="contatoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Transaçao</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Ao excluir este contato, todos os itens associados a ele serão removidos. Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>

{% block script %}
    <script>
        $(document).ready(function () {
            initContatoEvents();
            initPaginationEvents();
        });
        
        function loadContatos(tipo_nome, pagina) {
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_contatos" %}',
                data: {
                    'tipo_nome': tipo_nome,
                    'pagina': pagina
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        updateContatosPartial(data.html);
                        updateActiveButtonContato(data.tipo_nome);
                    } else {
                        showError("#contatos-partial", "Erro ao aplicar o filtro.");
                    }
                },
                error: function () {
                    showError("#contatos-partial", "Ocorreu um erro ao processar a requisição.");
                }
            });
        }
        
        function updateContatosPartial(html) {
            $("#contatos-partial").html(html);
        }
        
        function updateActiveButtonContato(tipo_nome) {
            $("#btn-contato .btn-custom").removeClass('active');
            $("#btn-contato .btn-custom[data-nome='" + tipo_nome + "']").addClass('active');
        }
        
        function showError(selector, message) {
            $(selector).html("<p>" + message + "</p>");
        }
        
        function initContatoEvents() {
            $("#btn-contato .btn-custom").on('click', function () {
                var tipo_nome = $(this).data("nome");
                loadContatos(tipo_nome, 1);
            });
        }
        
        function initPaginationEvents() {
            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                var tipo_nome = $("#btn-contato .btn-custom.active").data("nome") || "Todos";
                var pagina = $(this).attr('href').split('pagina=')[1];
                loadContatos(tipo_nome, pagina);
            });
        }
        
        $(document).ready(function() {
            function loadPage(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $('#contatos-partial').html(data.html);
                        attachPaginationEvents();
                    },
                    error: function(xhr, status, error) {
                        console.error('Erro ao carregar a página:', error);
                    }
                });
            }
        
            function attachPaginationEvents() {
                $('.page-ajax').on('click', function(e) {
                    e.preventDefault();
                    const url = $(this).attr('href');
                    loadPage(url);
                });
            }
        
            attachPaginationEvents();
        });
    </script>
{% endblock script %}

{% endblock content %}