{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Contatos</div>{% endblock head %}
{% block content %}

<div class="row mt-4">
    <!-- Cartão "Deve para mim" -->
    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-fill-add"></i> Deve para mim</h5>
                <p class="card-text text-success fs-4">R$0,00</p>
            </div>
        </div>
    </div>
    <!-- Cartão "Eu devo" -->
    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-dash-fill"></i> Eu devo</h5>
                <p class="card-text text-danger fs-4">R$0,00</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-contato">
    {% for tipo in tipos %}
        <button class="btn btn-custom" data-nome="{{ tipo.nome }}" id="{{ tipo.id }}">
            {{ tipo.nome }}
        </button>
    {% endfor %}
</div>

<!-- Botão para abrir a barra lateral -->
<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContato">
        <i class="bi bi-plus-lg"></i> Novo Contato
    </button>
</div>

<div id="contatos-partial">
    {% include 'sistemaFFA/partials/_contatos.html' %}
</div>

<!-- Barra lateral (offcanvas) -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContato" aria-labelledby="offcanvasContatoLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasContatoLabel">Novo Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="contatoForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadContatos(tipo_nome, pagina) {
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_contatos" %}',
                data: {
                    'tipo_nome': tipo_nome,
                    'pagina': pagina
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        $("#contatos-partial").html(data.html);
                        $("#btn-contato .btn-custom").removeClass('active');
                        $("#btn-contato .btn-custom[data-nome='" + data.tipo_nome + "']").addClass('active');
                    } else {
                        $("#contatos-partial").html("<p>Erro ao aplicar o filtro.</p>");
                    }
                },
                error: function (xhr, status, error) {
                    $("#contatos-partial").html("<p>Ocorreu um erro ao processar a requisição.</p>");
                }
            });
        }

        $("#btn-contato .btn-custom").on('click', function () {
            var tipo_nome = $(this).data("nome");
            loadContatos(tipo_nome, 1);
        });

        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault();
            var tipo_nome = $("#btn-contato .btn-custom.active").data("nome") || "Todos";
            var pagina = $(this).attr('href').split('pagina=')[1];
            loadContatos(tipo_nome, pagina);
        });

        $(document).ready(function() {
            function loadPage(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $('#contatos-partial').html(data.html);
                        attachPaginationEvents();
                    },
                    error: function(xhr, status, error) {
                        console.error('Erro ao carregar a página:', error);
                    }
                });
            }

            function attachPaginationEvents() {
                $('.page-ajax').on('click', function(e) {
                    e.preventDefault();
                    const url = $(this).attr('href');
                    loadPage(url);
                });
            }

            attachPaginationEvents();
        });
    </script>
{% endblock script %}

{% endblock content %}