{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Conta Bancária</div>{% endblock head %}

{% block content %}
<div class="mt-2 text-end">
  <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContaBacaria" aria-controls="offcanvasCategorias">
      <i class="bi bi-plus-lg"></i> Nova Conta Bancária
  </button>
</div>


<div class="transaction-table mt-4">
  <table class="table table-hover">
      <thead>
          <tr>
              <th style="width: 30%;">Nome</th>
              <th style="width: 20%;">Tipo da Conta</th>
              <th style="width: 20%;">Saldo Inicial</th>
              <th style="width: 20%;">Saldo Atual</th>
              <th style="width: 10%;" class="text-end"></th>
          </tr>
      </thead>
      <tbody>
        {% for conta_bancaria in contas_bancarias %}
        <tr>
            <td style="padding: 15px 10px;">{{ conta_bancaria.nome }}</td>
            <td style="padding: 15px 10px;">{{ conta_bancaria.tipoConta }}</td>
            <td style="padding: 15px 10px;">R$ {{ conta_bancaria.saldo }}</td>
            <td style="padding: 15px 10px;">R$0,00</td>
            <td class="text-end">
                <div class="dropdown">
                    <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a href="{% url 'editar_conta_bancaria' conta_bancaria.id %}" class="text-decoration-none"><button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button></a>
                        </li>
                        <li>
                          <a href="{% url 'deletar_conta_bancaria' conta_bancaria.id %}" class="text-decoration-none"><button class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Excluir</button></a>
                        </li>
                    </ul>
                </div>
            </td>
          </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-end" style="padding: 15px 10px;"><strong>Total</strong></td>
            <td style="padding: 15px 10px;">R$0,00</td>
            <td></td>
        </tr>
      </tbody>
  </table>

  {% if contas_bancarias.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if contas_bancarias.has_previous %}
                <li class="page-item">
                    <a href="?pagina=1" class="page-link">&laquo; Início</a>
                </li>
                <li class="page-item">
                    <a href="?pagina={{ contas_bancarias.previous_page_number }}" class="page-link">Anterior</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">
                    Página {{ contas_bancarias.number }} de {{ contas_bancarias.paginator.num_pages }}
                </a>
            </li>

            {% if contas_bancarias.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ contas_bancarias.next_page_number }}">Próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ contas_bancarias.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContaBacaria" aria-labelledby="offcanvasContaBacariaLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Conta Bancária</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form id="contaBancariaForm" method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
  </div>
</div>
{% endblock content %}