{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Totais -->
<div class="row mt-4">
    <!-- Cartão "Entrada Total" -->
    <div class="col-md-6 col-12 mb-3"> <!-- Ocupa 6 colunas no desktop, 12 no mobile -->
        <div class="card text-bg-success border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Entrada Total <i class="bi bi-cash"></i></h5>
                <p class="card-text">R$0,00</p>
            </div>
        </div>
    </div>
    <!-- Cartão "Saída Total" -->
    <div class="col-md-6 col-12 mb-3">
        <div class="card text-bg-danger border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Saída Total <i class="bi bi-x-square"></i></h5>
                <p class="card-text">R$0,00</p>
            </div>
        </div>
    </div>
</div>

<!-- Tabela de Transações (Adicionando rolagem em telas pequenas) -->
<div class="table-responsive mt-4"> <!-- Classe do Bootstrap para rolagem horizontal -->
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Últimas transações <i class="bi bi-cash-coin"></i></th>
                <th>Pago a</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Tipo pagamento</th>
                <th>Pago?</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.contatoNome }}</td>
                <td>{{ transacao.categoriaNome }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.tipoPagamento }}</td>
                <td>
                    <input class="form-check-input" type="checkbox" {% if transacao.pago %}checked{% endif %}>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if transacoes.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if transacoes.has_previous %}
                <li class="page-item">
                    <a href="?pagina=1" class="page-link">&laquo; Início</a>
                </li>
                <li class="page-item">
                    <a href="?pagina={{ transacoes.previous_page_number }}" class="page-link">Anterior</a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <a class="page-link">
                    Página {{ transacoes.number }} de {{ transacoes.paginator.num_pages }}
                </a>
            </li>
    
            {% if transacoes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ transacoes.next_page_number }}">Próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ transacoes.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav> 
    {% endif %}
</div>

{% endblock content %}
