{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Transações</div>{% endblock head %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-0">
        <div class="chart-section">
            <p><strong>Resultado previsto no mês</strong></p>
            <h3 class="text-success">R$0</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Recebimentos</p>
                    <p>Recebido: <span class="text-success">R$0,00</span></p>
                    <p>Previsto: <span>R$0</span></p>
                </div>
                <div>
                    <p>Despesas</p>
                    <p>Pago: <span class="text-danger">R$0,00</span></p>
                    <p>Previsto: <span>R$0,00</span></p>
                </div>
                <div style="width: 200px;">
                    <canvas id="chart" style="width: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-2 mt-2">
            <button type="button" class="btn btn-custom active">Todos</button>
            <button type="button" class="btn btn-custom">Associados</button>
            <button type="button" class="btn btn-custom">Cliente</button>
            <button type="button" class="btn btn-custom">Colaborador</button>
            <button type="button" class="btn btn-custom">Fornecedor</button>
            <button type="button" class="btn btn-custom">Sócio</button>
            <button type="button" class="btn btn-custom">Outro</button>
        </div>

        <div class="mt-4">
            <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTransacao" aria-controls="offcanvasCategorias">
                <i class="bi bi-plus-lg"></i> Nova Transação
            </button>
        </div>
    </div>
    <div class="col-md-4 text-end">
        <h4>Saldo atual</h4>
        <p class="text-success">R$0,00</p>
        <p class="text-muted">Previsão do mês: <span class="text-success">R$0</span></p>
        <p><strong>Conta Principal</strong></p>
    </div>
</div>

<div class="transaction-table mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Pago a</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Tipo pagamento</th>
                <th>Pago?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.contatoNome }}</td>
                <td>{{ transacao.categoriaNome }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.tipoPagamento }}</td>
                <td><input type="checkbox" {% if transacao.pago %}checked{% endif %}></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="{% url 'sistemaFFA:editar_transacao' transacao.id %}" class="text-decoration-none">
                                <button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button>
                            </a>
                            <li>
                                <a href="{% url 'sistemaFFA:deletar_transacao' transacao.id %}" class="text-decoration-none"><button class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Excluir</button></a>
                            </li>
                        </ul>
                    </div>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if transacoes.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if transacoes.has_previous %}
                <li class="page-item">
                    <a href="?pagina=1" class="page-link">&laquo; Início</a>
                </li>
                <li class="page-item">
                    <a href="?pagina={{ transacoes.previous_page_number }}" class="page-link">Anterior</a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <a class="page-link">
                    Página {{ transacoes.number }} de {{ transacoes.paginator.num_pages }}
                </a>
            </li>
    
            {% if transacoes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ transacoes.next_page_number }}">Próxima</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ transacoes.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasTransacao" aria-labelledby="offcanvasTransacaoLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Transação</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form id="transacaoForm" method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

{% endblock content %}