{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Transações</div>{% endblock head %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-0">
        <div class="chart-section">
            <p><strong>Resultado previsto no mês</strong></p>
            <h3 class="text-success">R$0</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Recebimentos</p>
                    <p>Recebido: <span class="text-success">R$0,00</span></p>
                    <p>Previsto: <span>R$0</span></p>
                </div>
                <div>
                    <p>Despesas</p>
                    <p>Pago: <span class="text-danger">R$0,00</span></p>
                    <p>Previsto: <span>R$0,00</span></p>
                </div>
                <div style="width: 200px;">
                    <canvas id="chart" style="width: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-transacao">
            {% for tipo in tipos %}
                <button class="btn btn-custom" data-nome="{{ tipo.nome }}" id="{{ tipo.id }}">
                    {{ tipo.nome }}
                </button>
            {% endfor %}
        </div>

        <div class="mt-4">
            <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTransacao" aria-controls="offcanvasCategorias">
                <i class="bi bi-plus-lg"></i> Nova Transação
            </button>
        </div>
    </div>
    <div class="col-md-4 text-end">
        <h4>Saldo atual</h4>
        <p class="text-success">R$0,00</p>
        <p class="text-muted">Previsão do mês: <span class="text-success">R$0</span></p>
        <p><strong>Conta Principal</strong></p>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasTransacao" aria-labelledby="offcanvasTransacaoLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="transacaoForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

<div id="transacoes-partial">
    {% include 'sistemaFFA/partials/_transacoes.html' %}
</div>

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadTransacoes(tipo_nome, pagina) {
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_transacoes" %}',
                data: {
                    'tipo_nome': tipo_nome,
                    'pagina': pagina
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        $("#transacoes-partial").html(data.html);
                        $("#btn-transacao .btn-custom").removeClass('active');
                        $("#btn-transacao .btn-custom[data-nome='" + data.tipo_nome + "']").addClass('active');
                    } else {
                        $("#transacoes-partial").html("<p>Erro ao aplicar o filtro.</p>");
                    }
                },
                error: function (xhr, status, error) {
                    $("#transacoes-partial").html("<p>Ocorreu um erro ao processar a requisição.</p>");
                }
            });
        }

        $(document).ready(function() {
            $("#btn-transacao .btn-custom").on('click', function () {
                var tipo_nome = $(this).data("nome");
                loadTransacoes(tipo_nome, 1);
            });

            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                var tipo_nome = $("#btn-transacao .btn-custom.active").data("nome") || "Todas";
                var pagina = $(this).attr('href').split('pagina=')[1];
                loadTransacoes(tipo_nome, pagina);
            });
        });
    </script>
{% endblock script %}
{% endblock content %}