{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Transações</div>{% endblock head %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-0">
        <div class="chart-section">
            <p><strong>Resultado previsto</strong></p>
            <h3 class="{% if previsto >= 0 %}text-success{% else %}text-danger{% endif %}">R$ {{ previsto }}</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Receita: <span class="text-success">R$ {{ receita }}</span></p>
                </div>
                <div>
                    <p>Despesa: <span class="text-danger">R$ {{ despesa }}</span></p>
                </div>
                <div style="width: 200px;">
                    <canvas id="chart" style="width: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-2 mt-2" id="btn-transacao">
            {% for tipo in tipos %}
                <button class="btn btn-custom" data-nome="{{ tipo.nome }}" id="{{ tipo.id }}">
                    {{ tipo.nome }}
                </button>
            {% endfor %}
        </div>

        <div class="mt-4">
            <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTransacao" aria-controls="offcanvasCategorias">
                <i class="bi bi-plus-lg"></i> Nova Transação
            </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasTransacao" aria-labelledby="offcanvasTransacaoLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Transação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="transacaoForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

<div id="transacoes-partial">
    {% include 'sistemaFFA/partials/_transacoes.html' %}
</div>

<div class="modal fade" id="transacaoModal" tabindex="-1" aria-labelledby="transacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Transaçao</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Ao excluir esta transação, todos os itens associados a ela serão removidos. Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>

{% block script %}
    <script>
        $(document).ready(function () {
            initTransacaoEvents();
            initPaginationEvents();
            initFormSubmitEvent();
        });
        
        function loadTransacoes(tipo_nome, pagina) {
            $.ajax({
                type: 'GET',
                url: '{% url "sistemaFFA:filtrar_transacoes" %}',
                data: {
                    'tipo_nome': tipo_nome,
                    'pagina': pagina
                },
                datatype: 'json',
                success: function (data) {
                    if (data.status === 'success') {
                        updateTransacoesPartial(data.html);
                        updateActiveButton(data.tipo_nome);
                    } else {
                        showError("#transacoes-partial", "Erro ao aplicar o filtro.");
                    }
                },
                error: function () {
                    showError("#transacoes-partial", "Ocorreu um erro ao processar a requisição.");
                }
            });
        }
        
        function updateTransacoesPartial(html) {
            $("#transacoes-partial").html(html);
        }
        
        function updateActiveButton(tipo_nome) {
            $("#btn-transacao .btn-custom").removeClass('active');
            $("#btn-transacao .btn-custom[data-nome='" + tipo_nome + "']").addClass('active');
        }
        
        function showError(selector, message) {
            $(selector).html("<p>" + message + "</p>");
        }
        
        function initTransacaoEvents() {
            $("#btn-transacao .btn-custom").on('click', function () {
                var tipo_nome = $(this).data("nome");
                loadTransacoes(tipo_nome, 1);
            });
        }

        function initPaginationEvents() {
            $(document).on('click', '.pagination a', function (e) {
                e.preventDefault();
                var tipo_nome = $("#btn-transacao .btn-custom.active").data("nome") || "Todas";
                var pagina = $(this).attr('href').split('pagina=')[1];
                loadTransacoes(tipo_nome, pagina);
            });
        }
        
        function initFormSubmitEvent() {
            $('#transacao-form').on('submit', function (event) {
                event.preventDefault();
                submitTransacaoForm($(this));
            });
        }
        
        function submitTransacaoForm(form) {
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.status === 'success') {
                        updateTotals(response.receita, response.despesa);
                    } else {
                        alert('Erro ao adicionar transação');
                    }
                },
                error: function () {
                    alert('Erro ao adicionar transação');
                }
            });
        }
        
        function updateTotals(receita, despesa) {
            $('#receita').text('Receita: ' + receita);
            $('#despesa').text('Despesa: ' + despesa);
        }
    </script>
{% endblock script %}
{% endblock content %}