{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Financeiro</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'script/main.js' %}" defer></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-lg-2 d-none d-lg-block sidebar">
                <div class="sidebar-content p-2">
                    <img src="{% static 'assets/FFA.finance.png' %}" alt="Logo FFA .finance" class="img-fluid mb-3">
                    <div class="avatar text-center mb-4">
                        {% if request.user.avatar %}
                            <img src="{{ request.user.avatar.url }}" alt="Avatar de {{ usuario.username }}" class="rounded-circle object-fit-cover">
                        {% else %}
                            <img src="https://i.pravatar.cc/150?u" alt="Avatar padrão" class="rounded-circle">
                        {% endif %} 
                        <a href="{% url 'usuarios:usuario' %}" class="mt-2 fw-bold d-block">{{ user.username }}</a>
                        <p class="text-light">{{ user.email }}</p>
                    </div>
                    <a href="{% url 'sistemaFFA:index' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-house"></i> Página Inicial</a>
                    <a href="{% url 'sistemaFFA:transacoes' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-cash-stack"></i> Transações</a>
                    <a href="{% url 'sistemaFFA:contatos' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-person"></i> Contatos</a>
                    <a href="{% url 'sistemaFFA:categorias' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-tags"></i> Categorias</a>
                    <a href="{% url 'sistemaFFA:conta_bancaria' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-bank"></i> Conta Bancária</a>
                </div>
                <form method="POST" action="{% url 'logout' %}" class="p-5">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </nav>

            <!-- Botão de menu responsivo -->
            <button class="btn btn-outline-dark d-lg-none m-3 p-2" id="btn-menu" style="width: auto;">
                <i class="bi bi-list"></i>
            </button>


            <!-- Menu Mobile -->
            <div class="menu-mobile d-lg-none position-fixed top-0 start-0 w-75 h-100 shadow-lg p-3 d-flex flex-column" id="menu-mobile" style="transform: translateX(-100%); transition: transform 0.3s ease-in-out; z-index: 1050;">


                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0 menu-h5">Menu</h5>
                    <button class="btn-close btn-close-white" id="btn-fechar"></button>
                </div>
                <div class="avatar text-center mb-3">
                    {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" alt="Avatar de {{ usuario.username }}" class="rounded-circle object-fit-cover">
                    {% else %}
                        <img src="https://i.pravatar.cc/150?u" alt="Avatar padrão" class="rounded-circle">
                    {% endif %} 
                    <a href="{% url 'usuarios:usuario' %}" class="mt-2 fw-bold d-block text-decoration-none">{{ user.username }}</a>
                    <p class="email">{{ user.email }}</p>
                </div>
                <nav class="mt-3 menu-mobile">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'sistemaFFA:index' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-house"></i> Página Inicial</a></li>
                        <li><a href="{% url 'sistemaFFA:transacoes' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-cash-stack"></i> Transações</a></li>
                        <li><a href="{% url 'sistemaFFA:contatos' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-person"></i> Contatos</a></li>
                        <li><a href="{% url 'sistemaFFA:categorias' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-tags"></i> Categorias</a></li>
                        <li><a href="{% url 'sistemaFFA:conta_bancaria' %}" class="d-block py-2 text-decoration-none"><i class="bi bi-bank"></i> Conta Bancária</a></li>
                    </ul>
                </nav>
                <form method="POST" action="{% url 'logout' %}" class="p-3 mt-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
                
            </div>
            <!-- Overlay -->
            <div class="overlay-menu d-lg-none position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-50" id="overlay-menu" style="display: none; z-index: 1049;"></div>


            <!-- Conteúdo Principal -->
            <main class="col-md-10 col-12 p-4">
                {% block head %}<div class="header fw-semibold">Olá, <span>{{ user.username }}</span>.</div>{% endblock head %}
                
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
</html>
