{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Categorias</div>{% endblock head %}
{% block content %}

<!-- Botões de filtro -->
<div class="btn-group mt-2" role="group" aria-label="Grupo de Botões">
    <button type="button" class="btn btn-custom active">Todos</button>
    <button type="button" class="btn btn-custom">Fixas</button>
    <button type="button" class="btn btn-custom">Variáveis</button>
    <button type="button" class="btn btn-custom">Impostos</button>
    <button type="button" class="btn btn-custom">Rendimentos</button>
</div>

<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCategorias" aria-controls="offcanvasCategorias">
        <i class="bi bi-plus-lg"></i> Nova Categoria
    </button>
</div>

<!-- Tabela de Categorias -->
<div class="transaction-table mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 50%;">Nome</th>
                <th style="width: 25%;" class="text-end">Tipo</th>
                <th style="width: 25%;" class="text-end">Atualizado em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td class="text-end">{{ categoria.tipo }}</td>
                <td class="text-end">{{ categoria.data }}</td>
                <td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button></li>
                                <li><button class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Excluir</button></li>
                            </ul>
                        </div>                    
                    </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategorias" aria-labelledby="offcanvasCategoriasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="coategoriaForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

{% endblock content %}