{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Contatos</div>{% endblock head %}
{% block content %}

<div class="row mt-4">
    <!-- Cartão "Deve para mim" -->
    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-fill-add"></i> Deve para mim</h5>
                <p class="card-text text-success fs-4">R$0,00</p>
            </div>
        </div>
    </div>
    <!-- Cartão "Eu devo" -->
    <div class="col-md-6">
        <div class="card text-center border-0 shadow-sm">
            <div class="card-body" style="padding: 10px;">
                <h5 class="card-title text-muted"><i class="bi bi-person-dash-fill"></i> Eu devo</h5>
                <p class="card-text text-danger fs-4">R$70,00</p>
            </div>
        </div>
    </div>
</div>

<!-- Botões -->
<div class="btn-group mt-3" role="group" aria-label="Grupo de Botões">
    <button type="button" class="btn btn-custom active">Todos</button>
    <button type="button" class="btn btn-custom">Associados</button>
    <button type="button" class="btn btn-custom">Cliente</button>
    <button type="button" class="btn btn-custom">Colaborador</button>
    <button type="button" class="btn btn-custom">Fornecedor</button>
    <button type="button" class="btn btn-custom">Sócio</button>
    <button type="button" class="btn btn-custom">Outro</button>
</div>

<!-- Botão para abrir a barra lateral -->
<div class="mt-4">
    <button class="btn btn-outline-dark btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContato">
        <i class="bi bi-plus-lg"></i> Novo Contato
    </button>
</div>

<!-- Tabela de Transações -->
<div class="transaction-table mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 20%;">Nome</th>
                <th style="width: 20%;">CPF/CNPJ</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 20%;">Telefone</th>
                <th style="width: 15%;" class="text-end">Atualizado em</th>
                <th style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
            <tr>
                <td>{{ contato.nome }}</td>
                <td>
                    {% if contato.cpf_cnpj %}
                    {{ contato.cpf_cnpj }}
                    {% else %}
                    Nao informado
                    {% endif %}
                </td>
                <td>
                    {% if contato.email %}
                    {{ contato.email }}
                    {% else %}
                    Nao informado
                    {% endif %}
                </td>
                <td>
                    {% if contato.telefone %}
                    {{ contato.telefone }}
                    {% else %}
                    Nao informado
                    {% endif %}
                </td>
                <td class="text-end">{{ contato.data }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button></li>
                            <li><button class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Excluir</button></li>
                        </ul>
                    </div>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Barra lateral (offcanvas) -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContato" aria-labelledby="offcanvasContatoLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasContatoLabel">Novo Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="contatoForm" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

{% endblock content %}