{% extends "base.html" %}
{% load static %}

{% block head %}<div class="header fw-semibold">Conta Bancária</div>{% endblock head %}

{% block content %}
<div class="mt-2 text-end">
  <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContaBacaria" aria-controls="offcanvasCategorias">
      <i class="bi bi-plus-lg"></i> Nova Conta Bancária
  </button>
</div>

<!-- Tabela de Transações -->
<div class="transaction-table mt-4">
    <table class="table-custom table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Principal?</th>
            <th>Saldo inicial</th>
            <th>Saldo Atual</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Conta Principal</td>
            <td>Sim</td>
            <td class="saldo-positivo">R$0,00</td>
            <td class="saldo-positivo">R$0,00</td>
          </tr>
          <tr>
            <td>Carteira</td>
            <td>Não</td>
            <td class="saldo-positivo">R$0,00</td>
            <td class="saldo-positivo">R$0,00</td>
          </tr>
          <!-- Ajuste para alinhar o "Total" à direita -->
          <tr>
            <td colspan="3" style="text-align: right; font-weight: bold;">Total</td>
            <td class="saldo-positivo">R$0,00</td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContaBacaria" aria-labelledby="offcanvasContaBacariaLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Conta Bancária</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <form>
          <div class="mb-3">
              <label for="contaBancariaNome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="contaBancariaNome" required>
          </div>
          <div class="mb-3">
              <label for="contaBancaria" class="form-label">Tipo de conta</label>
              <select class="form-select" id="contaBancaria">
                  <option value="Ativa">Conta Corrente</option>
                  <option value="Inativa">Poupança</option>
                  <option value="Inativa">Conta salário</option>
                  <option value="Inativa">Conta Investimento</option>
                  <option value="Inativa">Caixa</option>
                  <option value="Inativa">Carteira</option>
                  <option value="Inativa">Outros</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="contaBancariaBanco" class="form-label">Banco</label>
              <select class="form-select" id="contaBancariaBanco">
                  <option value="Ativa">X</option>
                  <option value="Inativa">X</option>
                  <option value="Inativa">X</option>
                  <option value="Inativa">X</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="contaBancariAgen" class="form-label">Agencia da Conta</label>
            <input type="text" class="form-control" id="contaBancariAgen">
          </div>
          <div class="mb-3">
            <label for="contaBancariaNum" class="form-label">Número da conta</label>
            <input type="text" class="form-control" id="contaBancariaNum">
          </div>
          <div class="mb-3">
            <label for="contaBancariaSaldo" class="form-label">Saldo Inicial</label>
            <input type="number" step="0.01" class="form-control" id="contaBancariaSaldo">
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
      </form>
  </div>
</div>
{% endblock content %}