{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block head %}<div class="header fw-semibold">Deletar Categoria</div>{% endblock head %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h1>Tem certeza?</h1>
        <form id="categoriaForm" method="POST">
            {% csrf_token %}
            <div class="mt-4">
                <button class="btn btn-danger text-uppercase btn-lg me-3" id="submitButton" type="submit">Sim</button>
                <a href="{% url 'categorias' %}" class="btn btn-dark text-uppercase btn-lg">Não</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}