{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Totais -->
<div class="row mt-4">
    <!-- Cartão "Deve para mim" -->
    <div class="col-md-6">
        <div class="card text-bg-success border-0 shadow-sm">
            <div class="card-body" style="padding: 20px;">
                <h5 class="card-title">Entrada Total <i class="bi bi-cash"></i></h5>
                <p class="card-text">R$0,00</p>
            </div>
        </div>
    </div>
    <!-- Cartão "Eu devo" -->
    <div class="col-md-6">
        <div class="card text-bg-danger border-0 shadow-sm">
            <div class="card-body" style="padding: 20px;">
                <h5 class="card-title">Saida Total <i class="bi bi-x-square"></i></h5>
                <p class="card-text">R$0,00</p>
            </div>
        </div>
    </div>
</div>


<!-- Tabela de Transações -->
<div class="transaction-table mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ultimas transações <i class="bi bi-cash-coin"></i></th>
                <th>Pago a</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Tipo pagamento</th>
                <th>Pago?</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.contatoNome }}</td>
                <td>{{ transacao.categoriaNome }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.tipoPagamento }}</td>
                <td><input type="checkbox" {% if transacao.pago %}checked{% endif %}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}