{% extends "base.html" %}
{% load static %}

{% block head %}<div class="header fw-semibold">Transações</div>{% endblock head %}
{% block content %}
<div class="row">
    <div class="col-md-8 mb-0">
        <div class="chart-section">
            <p><strong>Resultado previsto no mês</strong></p>
            <h3 class="text-success">R$0</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Recebimentos</p>
                    <p>Recebido: <span class="text-success">R$0,00</span></p>
                    <p>Previsto: <span>R$0</span></p>
                </div>
                <div>
                    <p>Despesas</p>
                    <p>Pago: <span class="text-danger">R$0,00</span></p>
                    <p>Previsto: <span>R$0,00</span></p>
                </div>
                <div style="width: 200px;">
                    <canvas id="chart" style="width: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Grupo de Botões">
            <button type="button" class="btn btn-custom active">Todos</button>
            <button type="button" class="btn btn-custom">Associados</button>
            <button type="button" class="btn btn-custom">Cliente</button>
            <button type="button" class="btn btn-custom">Colaborador</button>
            <button type="button" class="btn btn-custom">Fornecedor</button>
            <button type="button" class="btn btn-custom">Sócio</button>
            <button type="button" class="btn btn-custom">Outro</button>
        </div>

        <div class="mt-4">
            <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTransacao" aria-controls="offcanvasCategorias">
                <i class="bi bi-plus-lg"></i> Nova Transação
            </button>
        </div>
    </div>
    <div class="col-md-4 text-end">
        <h4>Saldo atual</h4>
        <p class="text-success">R$32,34</p>
        <p class="text-muted">Previsão do mês: <span class="text-success">R$2</span></p>
        <p><strong>Conta Principal</strong></p>
    </div>
</div>

<div class="transaction-table mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Pago a</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Tipo pagamento</th>
                <th>Pago?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.contatoNome }}</td>
                <td>{{ transacao.categoriaNome }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.tipoPagamento }}</td>
                <td><input type="checkbox" {% if transacao.pago %}checked{% endif %}></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><button class="dropdown-item text-success"><i class="bi bi-pen"></i> Editar</button></li>
                            <li><button class="dropdown-item text-danger"><i class="bi bi-trash3"></i> Excluir</button></li>
                        </ul>
                    </div>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Barra lateral de nova categoria -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasTransacao" aria-labelledby="offcanvasTransacaoLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCategoriasLabel">Nova Transação</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form>
        <div class="mb-3">
            <label for="transacaoNome" class="form-label">Nome da Transação</label>
            <input type="text" class="form-control" id="transacaoNome" required>
        </div>
        <div class="mb-3">
            <label for="categoriaStatus" class="form-label">Pago a</label>
            <select class="form-select" id="categoriaStatus">
                <option value="" selected>-- Selecione uma opção --</option>
                {% for transacao in transacoes %}
                <option value="{{ transacao.contatoNome }}">{{ transacao.contatoNome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="categoriaStatus" class="form-label">Categoria</label>
            <select class="form-select" id="categoriaStatus">
                <option value="" selected>-- Selecione uma opção --</option>
                {% for transacao in transacoes %}
                <option value="{{ transacao.categoriaNome }}">{{ transacao.categoriaNome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="transacaoValor" class="form-label">Valor</label>
            <input type="number" step="0.01" class="form-control" id="transacaoValor">
        </div>
        <div class="mb-3">
            <label for="categoriaStatus" class="form-label">Tipo de Pagamento</label>
            <select class="form-select" id="categoriaStatus">
                <option value="" selected>-- Selecione uma opção --</option>
                {% for transacao in transacoes %}
                <option value="{{ transacao.tipoPagamento }}">{{ transacao.tipoPagamento }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="transacaoPago">
                <label class="form-check-label" for="transacaoPago">Pago?</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

{% endblock content %}