{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <!-- Dados da Pessoa -->
    <div>
      <div class="row mb-4">
        <h5>Dados da Pessoa</h5>
        <div class="col-md-6">
          <label class="form-label fw-bold">Nome</label>
          <p>{{ usuario.first_name }}</p>
        </div>
        <div class="col-md-6">
          <label class="form-label fw-bold">Sobrenome</label>
          <p>{{ usuario.last_name }}</p>
        </div>
        <div class="col-md-6 mt-3">
          <label class="form-label fw-bold">Email</label>
          {% if usuario.email %}
            <p>{{ usuario.email }}</p>
          {% else %}
            <p>Não informado</p>
          {% endif %}
        </div>
        <div class="col-md-6 mt-3">
          <label class="form-label fw-bold">CPF</label>
          {% if usuario.cpf %}
            <p>{{ usuario.cpf }}</p>
          {% else %}
            <p>Não informado</p>
          {% endif %}
        </div>
        <div class="col-md-6 mt-3">
          <label class="form-label fw-bold">Telefone</label>
          {% if usuario.telefone %}
            <p>{{ usuario.telefone }}</p>
          {% else %}
            <p>Não informado</p>
          {% endif %}
        </div>
        <div class="col-md-6 mt-3">
          <label class="form-label fw-bold">Avatar</label>
          <p></p>
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <a href="{% url "editar_usuario" user.id %}">
            <button class="btn btn-primary me-2">Editar Conta</button>
          </a>
        </div>
      </div>
    
    {% if usuario.empresa %}
    <div class="row mb-4">
        <h5>Dados da empresa</h5>
        <div class="col-md-6">
            <label class="form-label fw-bold">Endereço</label>
            <p>{{ usuario.empresa.endereco }}</p>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-bold">Número</label>
            <p>{{ usuario.empresa.numero }}</p>
        </div>
        <div class="col-md-4">
            <label class="form-label fw-bold">Complemento</label>
            <p>{{ usuario.empresa.complemento }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">Bairro</label>
            <p>{{ usuario.empresa.bairro }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">País</label>
            <p>{{ usuario.empresa.pais }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">Estado</label>
            <p>{{ usuario.empresa.estado }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">Cidade</label>
            <p>{{ usuario.empresa.cidade }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">CEP</label>
            <p>{{ usuario.empresa.cep }}</p>
        </div>
        <div class="col-md-6 mt-3">
            <label class="form-label fw-bold">CNPJ</label>
            <p>{{ usuario.empresa.cnpj }}</p>
        </div>
    </div>
    {% else %}
      <div class="alert alert-info" role="alert">
          Nenhuma empresa associada a este usuário.
      </div>
    {% endif %}

    <div class="mt-4 d-flex justify-content-end">
      {% if usuario.empresa %}
        <a href="{% url "editar_empresa" usuario.empresa.id %}">
          <button class="btn btn-primary me-2">Editar Empresa</button>
        </a>
        <a href="{% url "deletar_empresa" usuario.empresa.id %}">
          <button class="btn btn-danger me-2">Excluir Empresa</button>
        </a>
      {% else %}
        <a href="{% url "empresa" %}">
          <button class="btn btn-primary me-2">Cadastrar Empresa</button>
        </a>
      {% endif %}
      </div>
    </div>
    
{% endblock content %}